:root {

    --background-color : #ffffff;
    --color-text : #002333;
    --color-secundaria : #DEEFE7;
    --color-tercearia : #159A9C;
    --color-destaque : #B4BEC9;

}

* {
    background-color: var(--color-tercearia);
    margin: 0;
    padding: 0;
    
}


header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
        
    /* 
    margin: 0 10em;
    background-image: url('Media/logobanner1.png');
    background-size:contain;
    background-repeat: no-repeat; 
    background-color: #ffffff; */
    
    }

nav{

    position: fixed;
    top: 0;
    height: 150px;
    width: 100px;
    z-index: 1;
    background-color: var(--background-color);
    border-bottom: 1px solid #ccc;
}

#logo {
    width: 350px;
    height: 150px;
    margin-top: 25px;
    margin: 0 10em;
}



main {
    display: flexbox;
    align-items: center;
    text-align: center;
}

footer {
    
    width: 100%;
    height: 80px;
    background-color: var(--color-destaque);
    align-items: center;
    text-align: center;
}

.cabecalho {

}